# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos
.venv/
venv/
.env
*.env

# Jupyter
.ipynb_checkpoints/

# Datos pesados / salidas
data/MatchCenter/
Visualizaciones/

# IDE / sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
