# Python
__pycache__/
*.py[cod]
*.egg-info/

# Entornos
.venv/
venv/
.env
*.env

# Jupyter
.ipynb_checkpoints/

# Datos pesados / salidas - TODA la carpeta data/
data/
# Si en el futuro quieres incluir algún archivo específico dentro de data/, puedes usar:
# !data/example_file.txt

# Visualizaciones
Visualizaciones/

# IDE / sistema
.vscode/
.idea/
.DS_Store
Thumbs.db